body {
  background: linear-gradient(0deg, RGBA(0,0,0,1) 0%, RGBA(200,255,196,1) 100%);
  background-attachment: fixed;
  background-size: cover;
  margin: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 80px;
  margin-right: 80px;
}

/* header */
.banner {
  position: relative;
  object-fit: cover;
  background: url('https://img.freepik.com/free-vector/seamless-forest-with-mountains-vector-flat-illustration-isolated-white-background_8130-2910.jpg?semt=ais_hybrid') no-repeat center center/cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.banner-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 50px;
  border-radius: 10px;
}

.banner-title {
  font-size: 3rem;
  margin: 0;
}

.navbar {
  margin-top: 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

.navbar a {
  text-decoration: underline 2px;
  color: black;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

/* card search */
.container {
  display: grid;
}

.card-block {
  width: 15%;
  margin: .5%;
  display: inline-block;
  vertical-align: center;
}

.col-2 {
  width: 22%;
  margin: 1%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.mb-2 {
  margin-bottom: 1rem;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  max-width: 70%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-title {
  font-size: 1em;
  margin: 0.1rem 0;
  color: #333;
}

.card-text {
  font-size: 0.8em;
  color: #555;
  margin: 0.1rem 0;
}

/* collection */

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 20px;
}

.collection-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.collection-title {
  font-size: 2em;
  margin: 0.1rem 0;
  color: #333;
}

.collection-text {
  font-size: 1.5em;
  color: #555;
  margin: 0.1rem 0;
}

/* button */
.button {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}

.price-text {
  font-size: 1.4em;
  color: #555;
  margin: 0.5rem 0;
}

/* popup */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input input {
  width: 100%;
  padding-right: 35px;
}

.toggle-eye {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #555;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
  color: #888;
}

.close:hover {
  color: black;
}

.underline-link {
  cursor: pointer;
  color: #45a049;
  text-decoration: underline;
}

/* Input Fields */
form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button Styling */
form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #45a049;
}

/* profile */